// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  border: 1px solid #2c2c2c;
  width: 650px;
  margin: 10px auto 0;
  p {
    text-align: left;
    margin-left: 50px;
    padding: 10px 0;
  }
  .profileFlex {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menuFlex{
    display: flex;
    justify-content: flex-end;
    p {
      margin-right: 50px;
    }
  }
}
